<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arcsoft.sdk_demo">
    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- wifi internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".utils.Activity.Application"
        android:allowBackup="true"
        android:icon="@drawable/arcface"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:replace="android:icon"
       >
        <activity android:name=".utils.Activity.PermissionAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.Activity.RegisterActivity" />
        <activity android:name=".utils.Activity.DetecterActivity"/>
        <activity android:name=".utils.Activity.MainActivity" />
        <activity android:name=".utils.Activity.FaceDBActivity" />
        <activity
            android:name=".utils.Activity.SenerMangerActivity"
            android:label="@string/title_activity_sener_manger" />
        <activity android:name=".utils.Activity.UDPUpDateActivity"></activity>
        <activity android:name=".utils.Activity.TCPUpDataActivity"></activity>
    </application>

</manifest>